/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */

.mybutton{
	-fx-background-color: orange;
	-fx-border-color: orange;
	-fx-text-fill: white
}

.mybutton:hover{
	-fx-background-color: red;
	-fx-border-color: red;
	-fx-text-fill: white;	 
}

.mytitle{
    /*-fx-font-family: "HipsterishFontNormal";*/
    -fx-font-family: "Shadows Into Light";
    -fx-font-size: 36.0px;
    
}

.mypane{
	-fx-background-color: linear-gradient(#2A5058, #61a2b1);
	 
}